
.button-contor1 {
    width: 100px;
    height: 50px;
    padding: 15px 25px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: #95af4c;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button-contor1:hover {background-color: #3e8e41}
  
  .button-contor1:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .button-contor2 {
    width: 100px;
    height: 50px;
    padding: 15px 25px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #95af4c;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button-contor2:hover {background-color: #3e8e41}
  
  .button-contor2:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .button-contor3 {
    width: 100px;
    height: 50px;
    padding: 15px 25px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #95af4c;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button-contor3:hover {background-color: #3e8e41}
  
  .button-contor3:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .button-contor4 {
    width: 100px;
    height: 50px;
    padding: 15px 25px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #95af4c;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button-contor4:hover {background-color: #3e8e41}
  
  .button-contor4:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  
  .button-contor5 {
    width: 100px;
    height: 50px;
    padding: 15px 25px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #95af4c;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button-contor5:hover {background-color: #3e8e41}
  
  .button-contor5:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .button-contor1end {
    width: 100px;
    height: 50px;
    padding: 15px 25px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: #95af4c;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button-contor1end:hover {background-color: #3e8e41}
  
  .button-contor1end:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .button-contor2end {
    width: 100px;
    height: 50px;
    padding: 15px 25px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: #95af4c;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button-contor2end:hover {background-color: #3e8e41}
  
  .button-contor2end:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }